body { 
	font-family: Georgia; 
	color: #000000; 
	background-color: #990003; 
	
}

/* Header/Blog Title */
.header {
	padding: 30px;
	background: rgb(252, 252, 252);
	
  }

.header h1 {
  font-size:70px;
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
  text-transform: uppercase

}




/* Style the top navigation bar */
.topnav {
	overflow: hidden;
	background-color: #333;
	font-size: 20px;
  }

.topnav a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

.topnav a:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
  }  

a:hover {
	text-decoration: underline;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.centercolumn { 

  margin: auto;
	width: 60%;
	padding: 10px;
  height: 50%;
}





/* Add a card effect for articles */
.card {
  background-color: #FCF6F5FF;
  padding: 20px;
  margin-top: 20px;
  border-color:black;
  border-width:10px
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* Footer */
footer {
	background-color: #f2f2f2;
	padding: 20px;
	box-shadow: 0 -5px 5px rgba(0,0,0,0.1);
	text-align: center;
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
