.page-container {
    min-width: 960px; /* set a minimum width for the page container */
    margin: 0 auto; /* center the container on the page */
    padding: 20px; /* add some padding to make the content easier to read */
  }
  
h1{
    color:red
}
body{
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

h1{
font-family:'Times New Roman', Times, serif

}
h1{
font-size: 50px;
}

h2{
    font-style: italic;
}

.intro{
font-size:1.25em;

}

section{
    margin:3em 0;
}

h3{
    font-style: oblique;
    color: rgb(255, 166, 0);
}

body {background-color: white;}

h2{
    border: 5px solid red;
    
}

a{
font-size: 15px;
}

li{
font-size: 20px;
}
